<div id="aboutUsContainer">
     <%= link_to 'Back', :back, class: "backButtons" %>
<div id="bottomContainerAdd">
   <h1 class="top"> How it works <h1>
         <div id="bottomTable">
            <div class="bottomTableRow">
               <div class="bottomTableHeadImg">
               </div>
               <div class="bottomTableHead">
                  <h1>How to list a car </h1>
                  <h3 class="bottomTableHead" > 1. Register for an account </br> 2. Head over to the 'list now' tab </br> 3. Fill out the vehicle entry form </br> 4. Wait for someone to request a vehicle, and chose either Accept or Decline. </h3>
               </div>
            </div>
            <div class="bottomTableRow">
               <div class="bottomTableHead">
                  <h1>How to hire a car </h1>
                  <h3 class="bottomTableHead"> 1. Register for an account </br> 2. Head over to the 'hire now' tab </br> 3. Find and select a vehicle to hire </br> 4. Send a request to hire the vehicle, and wait for the owner to either accept or decline </h3>
               </div>
               <div class="bottomTableHeadImg1"> 
               </div>
            </div>
            <div class="bottomTableRow">
               <div class="bottomTableHeadImg2"> 
               </div>
               <div class="bottomTableHead">
                  <h1>Hiring a car details </h1>
                  <h3 class="bottomTableHead"> 1. Car's are given on a full tank and must be returned on a full tank </br> 2. All vehicles are insured and included in the price of rental </br> 3. All vehicle have AA breakdown cover </br> 4. Any damage to the body work larger then the size of a golf ball, leaves you liable to pay the £500 excesss </br> 5. Any punctures or windscreen damage is covered by us </br> 6. Reviews must be given after each rental </br> 7. It is up to the renter whether to access or decline your request to rent</h3>
               </div>
            </div>
             <div class="bottomTableRow">
               <div class="bottomTableHead">
                  <h1>Listing a car details </h1>
                  <h3 class="bottomTableHead"> 1. You, the liser, are responsible for giving your vehicle out on a full tank only. Failure to do so may be disputed by the renter, which would leave to you being fined. </br> 2. All vehicles must be taken to car cleaning service, with a recipt to prove. (Paid for by renter cleaning fee) </br> 3. Lister must be available at the given time. Once a hire has been requested, you have 24 hours to reject. </br> 4. Lister and renter must take images of vehicle condition before use </br> </h3>
               </div>
               <div class="bottomTableHeadImg3"> 
               </div>
            </div>
            <div class="bottomTableRow">
               <div class="bottomTableHeadImg4"> 
               </div>
               <div class="bottomTableHead">
                  <h1>Payments/Disputes </h1>
                  <h3 class="bottomTableHead"> 1.Payment is not taken until 24 hours after the request has been sent. This gives the lister the chance to reject your request </br> 2. Renter and lister must take a picture of fuel level before hire. If fuel level is below when the vehicle returns, the lister can dispute, and the renter will be charged the fuel amount.</br> 3. Images of the vehicle must be taken before rental, to aid in evidence if the vehicle is damaged during hire. </br> 4. Lister will not be paid for hires until the 1st of each month. </br> </h3>
               </div>
            </div>
            <div class="bottomTableRow">
               <div class="bottomTableHead">
                  <h1>Collecting and returning </h1>
                  <h3 class="bottomTableHead"> It is up to the renter to be able to get to the collection address given. The contact details of the owner are handed over once a vehicle is hired, so your own arrangements can be made. The lister can offer a delivery service for an extra charge.</h3>
               </div>
               <div class="bottomTableHeadImg5">
               </div>
            </div>
         </div>
</div>