<!DOCTYPE html>
<html>
   <head>
      <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
      <title>Goo Hire</title>
   </head>
   <body>
      <div id="topContainer">
         <div id="searchSpace"></div>
         <table id="searchContainer">
            <tr>
               <td>
                  <div id="searchHead">
                     <h2>Car hire on your doorstep. List and hire vehicles from your neighbours </h2>
                  </div>
               </td>
            </tr>
            <tr>
               <td>
                  <div id="searchBox">
                     <h2> Got a car in mind? Give it a search! </h2>
                     <input type="text" id="myInput" onkeyup="myFunction()" placeholder="'Audi', 'CLA', 'R8'...">
                  </div>
               </td>
            </tr>
         </table>
      </div>
      </div>
   </body>
</html>